
<h1>Welcome Home!</h1>
<br />
<br />
<%= link_to 'Check out our movie catalogue!', movies_path %>
<br />
<br />
<textarea id="seatdata" cols="75" rows="10"></textarea>
<hr />
Best Seat Finder<br />
<br />
<button onclick="do_find()">Find it!</button>
<br />
<br />
Result: <div id="result"></div>